<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head('레시피')">
    <meta charset="UTF-8" />
    <title>레시피 본문</title>
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
    <span class="fw-bold fs-2 text-start" th:text="${rcp.rcp_name}"></span>
    <hr/>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-6 d-grid gap-2 d-md-block">
            <img th:src="@{${rcp.filepath}}" width="100%" height="330px" alt="main image"/>
        </div>
        <div class="col-6">
            <p class="d-flex justify-content-between">
                <span th:text="'글쓴이 | '+${rcp.user_id}" class="left"></span>
            </p>
            <br/>
            <p class="d-flex justify-content-between">
                <span th:text="'조회수 '+${rcp.rcp_viewcnt}" class="left">조회수</span>
                <a id="scrapBtn" th:href="@{/recipe/scrap/{rcp_seq}(rcp_seq=${rcp.rcp_seq})}">
                    <span th:text="'♥ 스크랩수 '+${rcp.scrap}">스크랩수</span>
                </a>
                <span th:text="'★ 공유'" class="right">공유</span>
            </p>
        </div>
    </div>
    <hr/>
    <h1 th:text="${rcp.rcp_seq}+'번 레시피 본문입니다. 이부분 나중에 삭제'"></h1>
    <h2 th:text="'재료'"></h2>
    <p th::text="${rcp.rcp_parts_dtls}"></p>
    <hr/>
    <h2 th:text="'요리 순서'"></h2>
    <p th:each="manual: ${manualList}" class="manual_step">
        <span class="h3" th:text="${manual.manual_no}"></span>
        <img th:if="${not #strings.isEmpty(manual.filename)}" th:src="@{${manual.filepath}+${manual.filename}}" alt="sub image"/>
        <span th:text="${manual.manual_txt}" style="display: block;"></span>
    </p>
    <hr/>
    <h2 th:text="'#'"></h2>
    <p th::text="${rcp.hash_tag}"></p>
    <div class="d-grid d-md-block gap-3 viewBtn" style="text-align: center;">
        <a th:href="@{/recipe/apilist}" class="btn btn-secondary me-md-5">
            레시피 목록으로 돌아가기
        </a>
        <a href="#" class="btn btn-dark">
            이 레시피 후기 작성하기
        </a>
    </div>
    <hr/>

</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    $('#scrapBtn').onClick(function(){
        console.log();
    });
</script>
</body>
</html>