<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 수정 폼</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
            rel="stylesheet"
            href="/static/css/recipe.css"
            th:href="@{/css/recipe.css}"
    />
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
    <!-- 모달 start -->
    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">필수 항목 입력</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="alertBtn" style="display: none;" data-bs-toggle="modal" data-bs-target="#alertModal">레시피 수정</button>
    <!-- 모달 end -->
    <p class="fw-bold fs-2 text-start">레시피 수정하기</p>
    <form action="/recipe/update" method="post" enctype="multipart/form-data">
        <input type="hidden" name="user_id" th:value="${recipeDTO.user_id}">
        <input type="hidden" name="rcp_seq" th:value="${recipeDTO.rcp_seq}">
        <input type="hidden" name="filename" th:value="${recipeDTO.filename}">
        <input type="hidden" name="filepath" th:value="${recipeDTO.filepath}">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-4 d-grid gap-2 d-md-block img_up">
                <label for="rcp_file" style="cursor:pointer;">
                    <img th:if="${not #strings.isEmpty(recipeDTO.filename)}" th:src="@{${recipeDTO.filepath}+${recipeDTO.filename}}" width="100%" height="230px" alt="main image"/>
                    <img th:if="${#strings.isEmpty(recipeDTO.filename)}" src="/media/images/rcp_mainimg.png" width="100%" height="230px" alt="main image"/>
                </label>
                <input type="file" id="rcp_file" th:value="${recipeDTO.upload}" name="upload" style="display: none;">
                <button type="button" class="btn btn-dark" style="width: 100%;">
                    <label for="rcp_file" style="width: 100%; height:100%; cursor:pointer;">대표 이미지 첨부</label>
                </button>
            </div>
            <div class="col-8">
                <p><input type="text" class="form-control" id="rcp_name" name="rcp_name" width="90%" placeholder="레시피 이름" th:value="${recipeDTO.rcp_name}"></p>
                <select class="form-select" name="time" id="rcp_time">
                    <option value="">소요시간</option>
                    <option th:value="'10분 이내'" th:attr="selected = ${recipeDTO.time == '10분 이내' ? 'true' : 'false'}">10분 이내</option>
                    <option th:value="'20분 이내'" th:attr="selected = ${recipeDTO.time == '20분 이내' ? 'true' : 'false'}">20분 이내</option>
                    <option th:value="'30분 이내'" th:attr="selected = ${recipeDTO.time == '30분 이내' ? 'true' : 'false'}">30분 이내</option>
                    <option th:value="'1시간 이내'" th:attr="selected = ${recipeDTO.time == '1시간 이내' ? 'true' : 'false'}">1시간 이내</option>
                    <option th:value="'2시간 이내'" th:attr="selected = ${recipeDTO.time == '2시간 이내' ? 'true' : 'false'}">2시간 이내</option>
                    <option th:value="'2시간 이상'" th:attr="selected = ${recipeDTO.time == '2시간 이상' ? 'true' : 'false'}">2시간 이상</option>
                </select>
                <select class="form-select" name="difficulty" id="difficulty">
                    <option value="">난이도</option>
                    <option th:value="'쉬움'" th:attr="selected = ${recipeDTO.difficulty == '쉬움' ? 'true' : 'false'}">쉬움</option>
                    <option th:value="'보통'" th:attr="selected = ${recipeDTO.difficulty == '보통' ? 'true' : 'false'}">보통</option>
                    <option th:value="'어려움'" th:attr="selected = ${recipeDTO.difficulty == '어려움' ? 'true' : 'false'}">어려움</option>
                </select>
                <select class="form-select" name="amount" id="amount">
                    <option value="">양</option>
                    <option th:value="'1인분'" th:attr="selected = ${recipeDTO.amount == '1인분' ? 'true' : 'false'}">1인분</option>
                    <option th:value="'2인분'" th:attr="selected = ${recipeDTO.amount == '2인분' ? 'true' : 'false'}">2인분</option>
                    <option th:value="'3인분'" th:attr="selected = ${recipeDTO.amount == '3인분' ? 'true' : 'false'}">3인분</option>
                    <option th:value="'4인분'" th:attr="selected = ${recipeDTO.amount == '4인분' ? 'true' : 'false'}">4인분</option>
                    <option th:value="'5인분 이상'" th:attr="selected = ${recipeDTO.amount == '5인분 이상' ? 'true' : 'false'}">5인분 이상</option>
                </select>
                <textarea class="form-control" name="summary" th:value="${recipeDTO.summary}" th:text="${recipeDTO.summary}" placeholder="레시피를 간단히 소개해 주세요." ></textarea>
            </div>
        </div>
        <p>*레시피에 어울리는 분류를 선택해 주세요.</p>
        <div class="cate_box rounded">
            <input type="hidden" name="cateArr" id="cateArr" value="">
            <p>
                <span>종류별</span>
                <span th:each="cate1 : ${cateList}" th:if="${cate1.cate_cate} == 1">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate1.cate_seq}" th:attr="style = ${cate1.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate1.cate_name}" >종류별</span>
                    </a>
                </span>
            </p>
            <p>
                <span>재료별</span>
                <span th:each="cate2 : ${cateList}" th:if="${cate2.cate_cate} == 2">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate2.cate_seq}" th:attr="style = ${cate2.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate2.cate_name}">재료별</span>
                    </a>
                </span>
            </p>
            <p>
                <span>상황별</span>
                <span th:each="cate3 : ${cateList}" th:if="${cate3.cate_cate} == 3">
                    &nbsp&nbsp
                    <a href="#" th:value="${cate3.cate_seq}" th:attr="style = ${cate3.rcp_chk == true ? 'color: black; font-weight: bold;' : 'color: #fff;'}">
                        <span th:text="${cate3.cate_name}">상황별</span>
                    </a>
                </span>
            </p>
        </div>
        <hr/>
        <p class="fw-bold fs-2 text-start">재료</p>
        <textarea name="rcp_parts_dtls" placeholder="양파 반 쪽, 굴소스 한 숟갈, 베이컨 100g..." th:text="${recipeDTO.rcp_parts_dtls}" th:value="${recipeDTO.rcp_parts_dtls}"></textarea>
        <hr/>
        <p class="fw-bold fs-2 text-start">요리 순서</p>
        <div class="manual_container">
            <div class="rcp_manual" th:each="manual : ${manualList}">
                <p class="fw-bold fs-4 text-start manual_step" th:text="${manual.manual_no}"></p>
                <textarea name="manual_txt" th:value="${manual.manual_txt}" th:text="${manual.manual_txt}"></textarea>
                <p class="d-flex justify-content-between">
                    <input type="file" name="upload_manual">
                    <a class="btn btn-danger removeManual">순서 삭제</a>
                </p>
            </div>
        </div>
        <button type="button" id="addManual" class="btn btn-secondary" style="width: 100%; margin-bottom: 15px;">요리 순서 추가</button>
        <hr/>
        <p class="fw-bold fs-2 text-start">해쉬태그</p>
        <p>*레시피에 어울리는 해쉬태그를 입력해 주세요.</p>
        <textarea name="hash_tag" placeholder="귀찮을 때, 자취요리, 야채듬뿍..." th:text="${recipeDTO.hash_tag}" th:value="${recipeDTO.hash_tag}"></textarea>
        <hr/>
        <p class="d-flex justify-content-between">
            <a th:href="@{/recipe/list}" class="btn btn-danger">
                &nbsp&nbsp취소&nbsp&nbsp
            </a>
            <button class="btn btn-primary" id="submitBtn">&nbsp&nbsp수정&nbsp&nbsp</button>
        </p>
    </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var manualNo = $('.rcp_manual').last().children(":first").text() * 1;
    var inputContainer = document.querySelector(".manual_container");
    var inputNode = $('.rcp_manual').last();
    var n1 = inputNode.clone();

    $('#addManual').on("click", function(e){
        e.preventDefault();
        manualNo++;
        n1.attr("style", "");
        n1.children(".manual_step").text(manualNo);
        n1.children("textarea").text('');
        n1.clone().appendTo($('.manual_container'));
    });

    $(document).on('click', '.removeManual', function(){
        if(manualNo > 1){
            manualNo--;
            var manualIndex = $(this).parent().parent().children(":first").html();
            $(this).parent().parent().remove();

            $('.rcp_manual').each(function(index, item){
                var manualIndex2 = item.firstChild.nextSibling.innerHTML;
                if(manualIndex < manualIndex2){
                    item.firstChild.nextSibling.innerHTML = manualIndex2 - 1;
                };
            });
        }
    });

    var imgUp = document.querySelector(".img_up");
    var imgSrc = imgUp.querySelector("img");
    var fileInput = imgUp.querySelector(`input[type="file"]`);
    fileInput.addEventListener('input', () => {
        const reader = new FileReader();
		reader.addEventListener('load', () => {
		    imgSrc.setAttribute('src', reader.result);
		});
		reader.readAsDataURL(fileInput.files[0]);
    });

    var cateArr = [];

    $(".cate_box a[style='color: black; font-weight: bold;']").each(function(index, item){
        cateArr.push($(item).attr('value'));
    });

    $(".cate_box a").on("click", function(e){
        e.preventDefault();
        if(cateArr.indexOf($(this).attr("value")) == -1){
            cateArr.push($(this).attr("value"));
            $(this).attr("style", "color: black; font-weight: bold;");
        }else{
            cateArr.splice(cateArr.indexOf($(this).attr("value")), 1);
            $(this).attr("style", "color: #fff;");
        }
        $('#cateArr').attr('value', cateArr);
    });

    var alertMsg = "";

    $("#submitBtn").on("click", function(e){
        e.preventDefault();
        if($("#rcp_name").val() == ""){
            alertMsg = "<p>레시피 이름을 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else if($("select[name=time] option:selected").val() == ""){
            alertMsg = "<p>소요시간을 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else if($("select[name=difficulty] option:selected").val() == ""){
            alertMsg = "<p>난이도를 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else if($("select[name=amount] option:selected").val() == ""){
            alertMsg = "<p>양을 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else if($("textarea[name=summary]").val() == ""){
            alertMsg = "<p>레시피 소개글을 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else if($("textarea[name=rcp_parts_dtls]").val() == ""){
            alertMsg = "<p>레시피 재료를 입력하세요.</p>";
            $(".modal-body p").html(alertMsg);
            $("#alertBtn").click();
        }else{
            $("form").submit();
        }
    });

</script>
</body>
</html>