<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 수정 폼</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
            rel="stylesheet"
            href="/static/css/recipe.css"
            th:href="@{/css/recipe.css}"
    />
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
<h1>레시피 수정 폼입니다.</h1>
</main>
</body>
</html>