<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>레시피 본문</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
            rel="stylesheet"
            href="/static/css/recipe.css"
            th:href="@{/css/recipe.css}"
    />
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="custom container">
    <input type="hidden" th:value="${currentPage}">
    <input type="hidden" name="rcp_seq" th:value="${rcp.rcp_seq}" id="rcp_seq">
    <input type="hidden" th:value="${rcp.user_id}" id="user_id">
    <input type="hidden" th:value="${rcp_sort}">
    <input type="hidden" th:value="${scrapOrNot}" id="scrapOrNot">
    <input type="hidden" th:value="${reportOrNot}" id="reportOrNot">
    <input type="hidden" th:value="${rcp.scrap}" id="scraps">
    <input type="hidden" name="cate_seq" th:value="${recipePageDTO.cate_seq}">
    <input type="hidden" name="searchKey" th:value="${recipePageDTO.searchKey}">
    <!-- //Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">레시피 삭제</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="${rcp.rcp_name}+' 레시피를 삭제하시겠습니까?'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                    <a th:href="@{/recipe/delete/{rcp_seq}(rcp_seq=${rcp.rcp_seq}, rcp_sort=${rcp_sort}, currentPage=${currentPage})}" class="btn btn-danger">삭제</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="reportModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reportModalLabel">레시피 신고</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'레시피 신고는 취소할 수 없습니다. [' + ${rcp.rcp_name} + '] 레시피를 신고하시겠습니까?'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">취소</button>
                    <a href="#" id="reportBtn" data-bs-dismiss="modal" class="btn btn-danger">신고</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="shareModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="shareLabel">레시피 링크 공유</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'클립보드에 레시피 링크가 복사되었습니다. 친구들과 레시피를 공유해 보세요!'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="needLoginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="needLoginLabel">비회원 접근 불가</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p th:text="'로그인이 필요한 기능입니다.'"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"  data-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="needLoginBtn" style="display: none;" data-bs-toggle="modal" data-bs-target="#needLoginModal">로그인 안내</button>
    <!-- Modal// -->
    <span class="fw-bold fs-2 text-start" th:text="${rcp.rcp_name}"></span>
    <span th:if="${user_id} == ${rcp.user_id}" class="upsideBtn text-end">
        <button class="btn btn-primary">글수정</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">글삭제</button>
    </span>
    <hr/>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-6 d-grid gap-2 d-md-block">
            <img th:if="${not #strings.isEmpty(rcp.filename)}" th:src="@{${rcp.filepath}+${rcp.filename}}" width="100%" height="330px" class="rounded float" />
            <img th:if="${#strings.isEmpty(rcp.filename)}" src="/media/images/rcp_mainimg.png" width="100%" height="330px" class="rounded float" />
        </div>
        <div class="col-6">
            <p class="d-flex justify-content-between">
                <span th:text="'글쓴이 | '+${rcp.user_id}" class="left"></span>
                <span th:text="${rcp.rcp_date} + ' 작성'" class="right" style="color: gray;"></span>
            </p>
            <p class="d-flex justify-content-between">
                <span th:text="'시간 | '+${rcp.time}" class="left">시간</span>
                <span th:text="'난이도 | '+${rcp.difficulty}">난이도</span>
                <span th:text="'양 | '+${rcp.amount}" class="right">양</span>
            </p>
            <p th:text="'분류 | '"></p>
            <p th:text="'소개 | '+${rcp.summary}"></p>
            <br/>
            <p class="d-flex justify-content-between">
                <span th:text="'조회수 '+${rcp.rcp_viewcnt}" class="left">조회수</span>
                <a id="scrapBtn" href="#">
                    <span>♥ 스크랩 </span>
                    <span th:text="${rcp.scrap}" id="scraps2"></span>
                </a>
                <a id="shareBtn" href="#" data-bs-toggle="modal" data-bs-target="#shareModal">
                <span th:text="'★ 공유하기'">공유</span>
                </a>
                <a th:if="${reportOrNot} == 0" href="#" data-bs-toggle="modal" data-bs-target="#reportModal">
                <span th:text="'신고하기'" id="report1" class="right" style="color: red;">신고</span></a>
            </p>
        </div>
    </div>
    <hr/>
    <h1 th:text="${rcp.rcp_seq}+'번 레시피 본문입니다. 이부분 나중에 삭제'"></h1>
    <h2 th:text="'재료'"></h2>
    <p th::text="${rcp.rcp_parts_dtls}"></p>
    <hr/>
    <h2 th:text="'요리 순서'"></h2>
    <p th:each="manual: ${manualList}" class="manual_step">
        <span class="h3" th:text="${manual.manual_no}"></span>
        <img th:if="${not #strings.isEmpty(manual.filename)}" th:src="@{${manual.filepath}+${manual.filename}}" alt="sub image"/>
        <span th:text="${manual.manual_txt}" style="display: block;"></span>
    </p>
    <hr/>
    <h2 th:text="'#'"></h2>
    <p th::text="${rcp.hash_tag}"></p>
    <div class="d-grid d-md-block gap-3 viewBtn" style="text-align: center;">
        <a th:if="${recipePageDTO.searchKey != null}" th:href="@{/recipe/search(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, currentPage=${currentPage}, searchKey=${recipePageDTO.searchKey})}" class="btn btn-secondary me-md-5">
            레시피 검색 목록으로 돌아가기
        </a>
        <a th:if="${recipePageDTO.searchKey == null}" th:href="@{/recipe/list(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, currentPage=${currentPage})}" class="btn btn-secondary me-md-5">
            레시피 목록으로 돌아가기
        </a>
        <a href="#" class="btn btn-dark">
            이 레시피 후기 작성하기
        </a>
    </div>
    <hr/>
    <h2 id="totalCount" th:text="'댓글 '+${totalComment}"></h2>
    <form>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-10">
                <textarea class="form-control" name="comment_txt" id="comment_txt" style="height: 100%;" placeholder="내용을 입력해주세요."></textarea>
            </div>
            <div class="col-2">
                <span class="btn btn-warning" id="coWriteBtn" style="width: 100%; height: 100%; color: #fff; line-height: 70px;">덧글쓰기</span>
            </div>
        </div>
    </form>
    <div class="comment_area"></div>
    <nav aria-label="Page navigation example" style="margin-top: 30px">
        <ul class="pagination page-area justify-content-center">
            <!-- 첫 로딩 후 페이지 출력시 필요 -->
            <li class="page-item">
                <a th:if="${recipeCommentPageDTO.startPage} == 1" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <th:block th:each="pDtos : ${#numbers.sequence(recipeCommentPageDTO.startPage, recipeCommentPageDTO.endPage)}">
                <li class="page-item">
                    <a th:text="${pDtos}" value="${pDtos}" class="page-link page-num"></a>
                </li>
            </th:block>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span th:text="'&raquo;'" aria-hidden="true"></span>
                </a>
            </li>
        </ul>
    </nav>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var rcp_seq = $('#rcp_seq').val();
    var co_page_seq = $('.page-link');
    var user_id = "[[${user_id}]]";
    var startPage = "[[${recipeCommentPageDTO.startPage}]]" * 1;
    var endPage = "[[${recipeCommentPageDTO.endPage}]]" * 1;
    var blockPage = "[[${recipeCommentPageDTO.blockPage}]]" * 1;
    var totalPage = "[[${recipeCommentPageDTO.totalPage}]]" * 1;
    var totalCount = "[[${recipeCommentPageDTO.totalCount}]]" * 1;
    var commentCurrentPage = 1;
    var userData = {
        "rcp_seq": $("#rcp_seq").val(),
        "user_id": '<%=(String)session.getAttribute("uid")%>'
    };

    $(function(){
        $('.page-num').first().click();
    });

    function getCommentList(){
        $.getJSON("/recipe/comment/list", {rcp_seq : rcp_seq, commentCurrentPage : commentCurrentPage}, function(obj){
            let comment_list = '';

            // 댓글 내용 출력
            $(obj.recipeCommentDTOList).each(function(i, obj){
                comment_list += '<p>';
                comment_list += '<b><span class="left" style="font-size: 15px;">'+ obj.user_id +'</span></b>&nbsp&nbsp&nbsp';
                comment_list += '<span style="color: gray;">' + obj.co_date + '</span>&nbsp&nbsp&nbsp';
                comment_list += '<b><span>답글</span></b>&nbsp&nbsp';
                comment_list += '<span style="color: red;">신고</span>&nbsp&nbsp&nbsp';
                if(user_id == obj.user_id){
                    comment_list += '<span style="color: blue;">수정</span>&nbsp&nbsp';
                    comment_list += '<a href="#"><span>삭제</span></a>&nbsp&nbsp&nbsp';
                }
                comment_list += '<br/>';
                comment_list += '<span>' + obj.comment_txt + '</span>';
                comment_list += '</p>';
            });

            $(".comment_area").html(comment_list);

            // 댓글 페이징 처리
            let page_list = '';
            startPage = obj.startPage;
            endPage = obj.endPage;

            $('.page-area').empty();

            page_list += '<li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>';

            for(i=startPage; i<=endPage; i++){
                if(i == commentCurrentPage){
                    page_list += '<li class="page-item active">';
                }else{
                    page_list += '<li class="page-item">';
                }
                page_list += '<a class="page-link page-num">' + i + '</a>';
                page_list += '</li>';
               };

            page_list += '<li class="page-item"><a class="page-link" aria-label="Previous"><span aria-hidden="true">&raquo;</span></a></li>';
            $(".page-area").append(page_list);
            console.log(page_list);
        });
    }


    // 덧글 출력 관리
    $(document).on("click", ".page-link", function(){
        commentCurrentPage = $(this).text().trim();
        if(commentCurrentPage=="»"){
            commentCurrentPage = Math.min(startPage + blockPage, totalPage) * 1;
            console.log(commentCurrentPage);
        }else if(commentCurrentPage=="«"){
            commentCurrentPage = Math.max(startPage - blockPage, 1) * 1;
            console.log(commentCurrentPage);
        }

        $('.active').removeClass('active');
        $(this).parent().addClass('active');
        getCommentList();

    });

    // 덧글 작성 관리
    coWriteBtn.onclick = function(){
        var commentData = {
        "rcp_seq": $("#rcp_seq").val(),
        "user_id": '<%=(String)session.getAttribute("uid")%>',
        "comment_txt": $("#comment_txt").val()
        };

        $.ajax({
            type: 'post',
            url: '/recipe/comment/write',
			data: commentData,
			success : function(data) {
			    console.log("댓글 작성 성공");
			    getCommentList();
			    $("#comment_txt").val('');
                totalCount = totalCount + 1;
			    $("#totalCount").text('댓글 ' + totalCount);
			},
			error : function(data) {
			    $('#needLoginBtn').click();
			}
        });
    };

    // 덧글 수정 관리

    // 덧글 삭제 관리

    // 스크랩 관리
    var scraps = $("#scraps").val();
    var scrapBtn = document.getElementById("scrapBtn");

    if($("#scrapOrNot").val() > 0){
        scrapBtn.setAttribute('style', 'color:red;');
    }else{
        scrapBtn.setAttribute('style', 'color:gray;');
    }

    scrapBtn.onclick = function(){
        $.ajax({
            type: 'post',
            url: '/recipe/scrap',
			data: userData,
			success : function(data) {
				console.log("변경 성공");
            if($("#scrapOrNot").val() == 1){
                $("#scraps").attr('value', $("#scraps").val() * 1 - 1);
                $("#scraps2").text($("#scraps").val());
                $("#scrapOrNot").attr('value', 0);
                scrapBtn.setAttribute('style', 'color:gray;');
            }else{
                $("#scraps").attr('value', $("#scraps").val() * 1 + 1);
                $("#scraps2").text($("#scraps").val());
                $("#scrapOrNot").attr('value', 1);
                scrapBtn.setAttribute('style', 'color:red;');
            }
			},
			error : function(data) {
			    $('#needLoginBtn').click();
			}
        })
    };

    // 신고 관리
    reportBtn.onclick = function(){
        $.ajax({
            type: 'post',
            url: '/recipe/report',
			data: userData,
			success : function(data) {
				console.log("신고 성공");
				$("#report1").parent().hide();
			},
			error : function(data) {
			    $('#needLoginBtn').click();
			}
        })
    };

    // 공유 관리리
    shareBtn.onclik = function(){
      var copyText = "http://localhost:8081/recipe/view/" + $('#rcp_seq').val();
      var textArea = document.createElement("textarea");//textarea 생성

      console.log(copyText);

      textArea.value = copyText;//textarea에 텍스트 입력
      document.body.appendChild(textArea);//body에 textarea 추가

      textArea.select();//선택
      document.execCommand("Copy");//복사
      textArea.remove();//생성한 textarea 삭제
    };

</script>
</body>
</html>