<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head('레시피')">
    <meta charset="UTF-8" />
    <title>레시피 작성 폼</title>
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="container">
<p class="fw-bold fs-2 text-start">새 레시피 등록하기</p>
    <form action="/recipe/write" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-5">
            <img src="/images/rcp_mainimg.png" width="100%" height="100%" alt="main image"/>
            <input type="file" name="file">
        </div>
        <div class="col-7">
            <p><input type="text" name="rcp_name" placeholder="title"></p>
            <select name="time" id="rcp_time">
                <option value="">소요시간</option>
                <option value="10분 이내">10분 이내</option>
                <option value="20분 이내">20분 이내</option>
                <option value="30분 이내">30분 이내</option>
                <option value="1시간 이내">1시간 이내</option>
                <option value="2시간 이내">2시간 이내</option>
                <option value="2시간 이상">2시간 이상</option>
            </select>
            <select name="difficulty" id="difficulty">
                <option value="volvo">난이도</option>
                <option value="쉬움">쉬움</option>
                <option value="보통">보통</option>
                <option value="어려움">어려움</option>
            </select>
            <select name="amount" id="amount">
                <option value="">양</option>
                <option value="1인분">1인분</option>
                <option value="2인분">2인분</option>
                <option value="3인분">3인분</option>
                <option value="4인분">4인분</option>
                <option value="5인분">5인분 이상</option>
            </select>
            <p><input type="text" name="summary" placeholder="summary"></p>
        </div>
    </div>
    <input type="text" name="rcp_parts_dtls">
    <button type="submit">작성</button>
</form>
</main>
</body>
</html>