<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>레시피 작성 폼</title>
</head>
<body>
<h1>레시피 작성 폼입니다.</h1>
<form action="/recipe/write" method="post" enctype="multipart/form-data">
    <input type="text" name="rcp_name" placeholder="title">
    <input type="text" name="summary" placeholder="summary">
    <select name="time" id="rcp_time">
        <option value="">소요시간</option>
        <option value="10분 이내">10분 이내</option>
        <option value="20분 이내">20분 이내</option>
        <option value="30분 이내">30분 이내</option>
        <option value="1시간 이내">1시간 이내</option>
        <option value="2시간 이내">2시간 이내</option>
        <option value="2시간 이상">2시간 이상</option>
    </select>
    <select name="difficulty" id="difficulty">
        <option value="volvo">난이도</option>
        <option value="쉬움">쉬움</option>
        <option value="보통">보통</option>
        <option value="어려움">어려움</option>
    </select>
    <select name="amount" id="amount">
        <option value="">양</option>
        <option value="1인분">1인분</option>
        <option value="2인분">2인분</option>
        <option value="3인분">3인분</option>
        <option value="4인분">4인분</option>
        <option value="5인분">5인분 이상</option>
    </select>
    <input type="text" name="rcp_parts_dtls">
    <input type="file" name="file">
    <button type="submit">작성</button>
</form>
</body>
</html>