<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <th:block th:replace="fragments/head :: link"></th:block>
  <link
          rel="stylesheet"
          href="/static/css/admin.css"
          th:href="@{/css/admin.css}"
  />
</head>
<body class="">
<nav th:replace="fragments/nav :: front-nav('')"></nav>
<main class="container">
  <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
    <div class="menu" center>
    <img src="/media/admin/board.png" class="oneimg">
    </div>

  <div class="container-fluid">
    <div class="row">
      <div
              class="col-2"

      >
        <ul class="list-group">
          <li class="list-group-item">
            <a href="/admin/u_index" class="nav-link category">회원관리</a>
          </li>
          <li class="list-group-item">
            <a href="/admin/r_index" class="nav-link category">레시피관리</a>
          </li>
          <li class="list-group-item">
            <a href="/admin/s_index" class="nav-link category">판매자관리</a>
          </li>
          <li class="list-group-item">
            <a href="/admin/c_index" class="nav-link category">게시판관리</a>
          </li>
        </ul>
      </div>

      <div class="col-10">
        <table class="table caption-top">
          <thead class="bg-secondary bg-gradient">
          <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
            <th scope="col">조회</th>
            <th scope="col">좋아요</th>
            <th scope="col">신고</th>
            <th scope="col">삭제</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="cu:${reportCom}">
            <th scope="row">1</th>
            <td>
              <a
                      th:href="@{|/community/post?id=${cu.id}|}"
                      th:text="${cu.title}"
              >제목</a>
            </td>
            <td th:text="${cu.user_id}"></td>
            <td th:text="${cu.created_at}"></td>
            <td th:text="${cu.read_count}"></td>
            <td th:text="${cu.like_count}"></td>
            <td th:text="${cu.report}"></td>
            <td><a th:href="@{|/admin/delcom/${cu.id}|}"  class="btn btn btn-secondary">삭제</a></td>
          </tr>
          </tbody>
        </table>
        <!-- 페이지네이션 -->
        <nav class="mt-3" th:if="${page.count>page.perPage}">
          <ul class="pagination justify-content-center">
            <li
                    class="page-item"
                    th:classappend="${page.page == 0} ? 'disabled'"
            >
              <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page-1}__|}"
                      class="page-link"
              >Previous</a
              >
            </li>
            <li
                    class="page-item"
                    th:each="number : ${#numbers.sequence(page.startPageNum,page.endPageNum)}"
                    th:classappend="${page.page==number-1} ? 'active'"
            >
              <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${number-1}__|}"
                      class="page-link"
                      th:text="${number}"
              ></a>
            </li>
            <li
                    class="page-item"
                    th:classappend="${page.page == page.totalPageCnt-1} ? 'disabled'"
            >
              <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page+1}__|}"
                      class="page-link"
              >Next</a
              >
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
  </div>
</main>
</body>
</html>
