<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin main</title>
    <th:block th:replace="fragments/head :: link"></th:block>

    <link
            rel="stylesheet"
            href="/static/css/admin.css"
            th:href="@{/css/admin.css}"
    />
</head>

<body class="bg-light">
<nav th:replace="fragments/nav :: front-nav('recipe')"></nav>
<main class="container">
    <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <img src="/media/admin/cooking.png" class="oneimg">

    </div>

    <div class="container-fluid">
        <div class="row">
            <div
                    class="col-2"

            >
                <!-- admin은 controller에서? -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/u_index" class="nav-link category">회원관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/r_index" class="nav-link category">레시피관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/s_index" class="nav-link category">판매자관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/c_index" class="nav-link category">게시판관리</a>
                    </li>
                </ul>
            </div>

            <!-- 게시판 부분? -->
            <div class="col-10">
                <table class="table caption-top">
                    <thead class="bg-secondary bg-gradient">

                    </thead>
                    <tbody>

                    <div class="row align-items-center">
                        <div th:each="rcp : ${rcpList}" class="col-4">
                            <a th:href="@{/recipe/view/{rcp_seq}(rcp_seq=${rcp.rcp_seq}, rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${pagenation.page})}">
                                <img th:if="${not #strings.isEmpty(rcp.filename)}" th:src="@{${rcp.filepath}+${rcp.filename}}" width="250px" height="180px" class="rounded float" />
                                <img th:if="${#strings.isEmpty(rcp.filename)}" src="/media/images/rcp_mainimg.png" width="250px" height="180px" class="rounded float" />
                                <p th:text="${rcp.rcp_name}" class="text-start fw-bold">레시피 제목</p>
                            </a>
                            <p class="d-flex justify-content-between">
              <span th:text="${rcp.user_id}" class="left">닉네임</span
              ><span th:text="'신고'+${rcp.report}" class="right">신고수</span>
                            </p>
                            <p class="d-flex justify-content-between">
                                <span th:text="${rcp.time}" class="left">시간</span><span th:text="${rcp.difficulty}">난이도 하</span
                            ><a th:href="@{/recipe/delete(rcp_seq=${rcp.rcp_seq})}" class="btn btn btn-secondary">삭제</a>
                            </p>
                        </div>
                    </div>

                    <!--페이징-->
                    <nav aria-label="Page navigation example" style="margin-top: 30px">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a th:if="${pagenation.startPageNum} > 1" class="page-link" th:href="@{/admin/r_index(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${pagenation.startPageNum - pagenation.blockPageCnt})}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                                <a th:if="${pagenation.startPageNum} == 1" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <th:block th:each="pagenations : ${#numbers.sequence(pagenation.startPageNum, pagenation.endPageNum)}">
                                <li class="page-item active">
                                    <a th:if="${pagenations} == ${pagenation.page}" th:href="@{/admin/r_index(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${pagenations})}" th:text="${pagenations}" class="page-link"></a>
                                </li>
                                <li class="page-item">
                                    <a th:if="${pagenations} != ${pagenation.page}" th:href="@{/admin/r_index(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${pagenations})}" th:text="${pagenations}" class="page-link"></a>
                                </li>
                            </th:block>
                            <li class="page-item">
                                <a th:if="${pagenation.endPageNum} < ${pagenation.totalPageCnt}" class="page-link" th:href="@{/admin/r_index(rcp_sort=${rcp_sort}, cate_seq=${cate_seq}, page=${pagenation.startPageNum + pagenation.blockPageCnt})}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                                <a th:if="${pagenation.endPageNum} == ${pagenation.totalPageCnt}" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
