<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin main</title>
    <th:block th:replace="fragments/head :: link"></th:block>

    <link
            rel="stylesheet"
            href="/static/css/admin.css"
            th:href="@{/css/admin.css}"
    />
</head>

<body class="">
<nav th:replace="fragments/nav :: front-nav('')"></nav>
<main class="container">
    <div class="bg-white p-5 rounded d-flex flex-column align-items-center">

        <img src="/media/admin/shopping-cart.png" class="oneimg">

        <div class="s_group">
            <a href="/admin/s_index" class="btn_s">신청목록</a>
            <a href="/admin/ss_index" class="btn_s">승인목록</a>
        </div>

        <!-- 사이드 nav -->
        <div class="container-fluid">
            <div class="row">
                <div
                        class="col-2"

                >
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="/admin/u_index" class="nav-link category">회원 관리</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/r_index" class="nav-link category">레시피관리</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/s_index" class="nav-link category">판매자관리</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/admin/c_index" class="nav-link category">게시판 관리</a>
                        </li>
                    </ul>
                </div>

                <!-- 사이드 nav end -->

                <div class="col-10">
                    <table class="table caption-top">
                        <thead class="bg-secondary bg-gradient">
                        <tr>
                            <th scope="col">아이디</th>
                            <th scope="col">상호명</th>
                            <th scope="col">사업자 등록 번호</th>
                            <th scope="col">사업장 전화번호</th>
                            <th scope="col">사업장 주소</th>
                            <th scope="col">승인</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each = "sellerDTO : ${nsellers}">
                            <!--    <th scope="row">1</th>-->
                            <td th:text="${sellerDTO.user_id}"></td>
                            <td th:text="${sellerDTO.business_name}"></td>
                            <td th:text="${sellerDTO.registration_number}"></td>
                            <td th:text="${sellerDTO.seller_phone}"></td>
                            <td th:text="${sellerDTO.seller_address}"></td>
                            <td><a th:href="@{|/admin/upSel/${sellerDTO.user_id}|}"  class="btn btn-sm" onclick="alert('승인되었습니다.')">승인</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <!--페이징처리-->
                    <nav class="mt-3" th:if="${page.count>page.perPage}">
                        <ul class="pagination justify-content-center">
                            <li
                                    class="page-item"
                                    th:classappend="${page.page == 0} ? 'disabled'"
                            >
                                <a
                                        th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page-1}__|}"
                                        class="page-link"
                                >Previous</a
                                >
                            </li>
                            <li
                                    class="page-item"
                                    th:each="number : ${#numbers.sequence(page.startPageNum,page.endPageNum)}"
                                    th:classappend="${page.page==number-1} ? 'active'"
                            >
                                <a
                                        th:href="@{|${#httpServletRequest.requestURI}?page=__${number-1}__|}"
                                        class="page-link"
                                        th:text="${number}"
                                ></a>
                            </li>
                            <li
                                    class="page-item"
                                    th:classappend="${page.page == page.totalPageCnt-1} ? 'disabled'"
                            >
                                <a
                                        th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page+1}__|}"
                                        class="page-link"
                                >Next</a
                                >
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    </div>
</main>
</body>
</html>
