<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>admin main</title>
    <th:block th:replace="fragments/head :: link"></th:block>

    <link
            rel="stylesheet"
            href="/static/css/admin.css"
            th:href="@{/css/admin.css}"
    />
</head>

<body class="">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<nav th:replace="fragments/nav :: front-nav('')"></nav>
<main class="container">
    <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <img src="/media/admin/user.png" class="oneimg">
        <!--        <a class="user">회원관리</a>-->

    </div>
    <!-- 검색기능 -->
    <form action="/admin/u_index" class="search_wrap" name="search_key">
        <div class="search_wrap">
            <input class='keyword' type="text" name="keyword" placeholder="아이디를 검색하세요" th:value="${page.keyword}">
            <button class='s_btn'>검색</button>
        </div>
    </form>

    <div class="container-fluid">
        <div class="row">
            <div
                    class="col-2"
            >
                <!-- admin은 controller에서? -->
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/admin/u_index" class="nav-link category">회원관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/r_index" class="nav-link category">레시피관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/s_index" class="nav-link category">판매자관리</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/admin/c_index" class="nav-link category">게시판관리</a>
                    </li>
                </ul>
            </div>

            <!-- 게시판 부분? -->
            <div class="col-10">
                <table class="table caption-top">
                    <thead class="bg-secondary bg-gradient">
                    <tr>

                        <th scope="col">아이디</th>
                        <th scope="col">비밀번호</th>
                        <th scope="col">유저타입</th>
                        <th scope="col">이름</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">주소</th>
                        <th scope="col">탈퇴</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="au:${users}">
                        <td><a th:href="@{|/admin/detailU?user_id=${au.user_id}|}" th:text="${au.user_id}"></a></td>
                        <td th:text="${au.password}"></td>
                        <td th:switch="${au.usertype}">
                            <span th:case="3">관리자</span>
                            <span th:case="2">판매자</span>
                            <span th:case="1">회원</span>
                        </td>

                        <td th:text="${au.username}"></td>
                        <td th:text="${au.nickname}"></td>
                        <td th:text="${au.address}"></td>
                        <td><a th:href="@{|/admin/upU/${au.user_id}|}" class="btn btn-sm" onclick="alert('탈퇴되었습니다.')">탈퇴</a></td>
                    </tr>
                    </tbody>
                </table>

                <!--  페이징처리  -->
                <nav class="mt-3" th:if="${page.count>page.perPage}">
                    <ul class="pagination justify-content-center">
                        <li
                                class="page-item"
                                th:classappend="${page.page == 0} ? 'disabled'"
                        >
                            <a
                                    th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page-1}__|}"
                                    class="page-link"
                            >Previous</a
                            >
                        </li>
                        <li
                                class="page-item"
                                th:each="number : ${#numbers.sequence(page.startPageNum,page.endPageNum)}"
                                th:classappend="${page.page==number-1} ? 'active'"
                        >
                            <a
                                    th:href="@{|${#httpServletRequest.requestURI}?page=__${number-1}__|}"
                                    class="page-link"
                                    th:text="${number}"
                            ></a>
                        </li>
                        <li
                                class="page-item"
                                th:classappend="${page.page == page.totalPageCnt-1} ? 'disabled'"
                        >
                            <a
                                    th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page+1}__|}"
                                    class="page-link"
                            >Next</a
                            >
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </div>
    </div>
    </div>
</main>
</body>
</html>
