<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
</head>
<body>
<th:block th:text="${user_id}"></th:block>
<th:block th:text="${password}"></th:block>
<th:block th:text="${usertype}"></th:block>
<th:block th:text="${username}"></th:block>
<th:block th:text="${nickname}"></th:block>
<th:block th:text="${email}"></th:block>
<th:block th:text="${phone}"></th:block>
<th:block th:text="${birthday}"></th:block>
<th:block th:text="${gender}"></th:block>
<th:block th:text="${postno}"></th:block>
<th:block th:text="${address}"></th:block>
</body>
</html>