<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 게시판 상세검색</title>
    <th:block th:replace="fragments/head :: links"> </th:block>
    <link
      rel="stylesheet"
      href="/static/css/community.css"
      th:href="@{/css/community.css}"
    />
  </head>
  <body class="bg-light">
    <nav th:replace="fragments/nav :: front-nav('community')"></nav>
    <main class="container">
      <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <a th:href="@{/community}" class="btn btn btn-secondary me-auto"
          >게시판</a
        >
        <h1>상세검색</h1>
        <form
          role="search"
          method="post"
          action
          th:object="${searchForm}"
          class="my-2"
        >
          <div class="search d-flex flex-row">
            <select
              class="form-select"
              id="period"
              th:field="*{period}"
              onchange="OnChange();"
            >
              <option value="all">전체기간</option>
              <option value="day">1일</option>
              <option value="week">1주</option>
              <option value="Enter Date">기간입력</option>
            </select>

            <select class="form-select" name="option" th:field="*{category}">
              <option value="all">전체</option>
              <option value="free">자유글</option>
              <option value="recipe">레시피후기</option>
            </select>

            <select class="form-select" name="option" th:field="*{option}">
              <option value="title">제목만</option>
              <option value="writer">글작성자</option>
              <option value="content">글내용</option>
              <option value="writerAndContent">글+제목</option>
            </select>

            <input
              th:field="*{keyword}"
              name="keyword"
              class="form-control"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-success" type="submit">Search</button>
          </div>
          <div class="periodSelect d-none">
            <ul>
              <li>
                <label for="from">From</label>
                <input type="date" id="from" name="from" th:field="*{from}" />
              </li>
              <li>
                <label for="To" class="px-2"> To </label>
                <input type="date" id="to" name="to" th:field="*{to}" />
              </li>
            </ul>
          </div>
        </form>

        <div class="caption">
          <p
            class="p-2 bd-highlight"
            th:if="${page}"
            th:text="|글 수 : ${page.count}|"
          >
            글 수:
          </p>
          <div></div>
        </div>

        <div class="container-fluid">
          <div>
            <table class="table caption-top">
              <thead class="bg-secondary bg-gradient">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">제목</th>
                  <th scope="col">작성자</th>
                  <th scope="col">작성일</th>
                  <th scope="col">조회</th>
                  <th scope="col">좋아요</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="el,iterStat:${board}">
                  <th scope="row" th:text="${iterStat.count}">1</th>
                  <td class="d-flex">
                    <a
                      th:href="@{|/community/post?id=${el.id}|}"
                      th:text="${el.title}"
                      >제목</a
                    >
                    <img
                      th:if="${el.image_exists}==1"
                      th:src="@{/media/images/imageExists.jpg}"
                      class="mx-3"
                    />
                  </td>
                  <td th:text="${el.user_id}">Otto</td>
                  <td th:text="${el.formatted_created_at}">@mdo</td>
                  <td th:text="${el.read_count}">@mdo</td>
                  <td th:text="${el.like_count}">@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                  <td>@fat</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
            <th:block th:if="${page}">
              <nav class="mt-3" th:if="${page.count>page.perPage}">
                <ul class="pagination">
                  <li
                    class="page-item"
                    th:classappend="${page.page == 0} ? 'disabled'"
                  >
                    <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page-1}__|}"
                      class="page-link"
                      >Previous</a
                    >
                  </li>
                  <li
                    class="page-item"
                    th:each="number : ${#numbers.sequence(page.startPageNum,page.endPageNum)}"
                    th:classappend="${page.page==number-1} ? 'active'"
                  >
                    <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${number-1}__|}"
                      class="page-link"
                      th:text="${number}"
                    ></a>
                  </li>
                  <li
                    class="page-item"
                    th:classappend="${page.page == page.totalPageCnt-1} ? 'disabled'"
                  >
                    <a
                      th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page+1}__|}"
                      class="page-link"
                      >Next</a
                    >
                  </li>
                </ul>
              </nav>
            </th:block>
          </div>
        </div>
      </div>
    </main>
    <script
      th:src="@{/js/detailSearch.js}"
      src="/static/js/detailSearch.js"
    ></script>
  </body>
</html>
