<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 게시판</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
      rel="stylesheet"
      href="/static/css/community.css"
      th:href="@{/css/community.css}"
    />
  </head>
  <body class="bg-light">
    <nav th:replace="fragments/nav :: front-nav('community')"></nav>
    <main class="container">
      <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <h1>게시판 글수정</h1>
        <hr class="my-2 line border border-dark" />

        <form
          class="board"
          action=""
          method="post"
          enctype="multipart/form-data"
          th:object="${community}"
        >
          <select th:field="*{category}" class="form-select mb-3 category">
            <option value="0">자유글</option>
            <option value="1" selected>레시피후기</option>
          </select>
          <div class="recipeSearch mb-3">
            <hr />
            <p class="title">레시피 선택</p>
            <div>
              <div class="recipeSearch-box">
                <input type="text" class="form-control mx-3 searchInput" />
                <button type="button" class="btn btn-primary mx-3 searchBtn">
                  레시피 조회
                </button>
              </div>
              <!-- ==========레시피 조회 결과 박스========= -->
              <div
                class="recipeSearh-results m-3 border border-secondary rounded recipe-box"
              >
                <div
                  th:each="recipe:${recipes}"
                  class="result d-flex justify-content-between border border-secondary m-1 rounded "

                >
                  <img
                    src="/static/media/community/026c960a-0c41-4c2c-9388-212eff749316_ggo.png"
                    th:src="@{${recipe.filepath}+${recipe.filename}}"
                    width="130px"
                    height="130px"
                    class="m-3"
                  />
                  <div class="mt-3" style="width: 60%;">
                    <p class="d-flex justify-content-between">
                      <a th:href="@{/recipe/view/{rcp_seq}(rcp_seq=${recipe.rcp_seq})}" target="_blank">
                        <span
                          th:text="|레시피 이름 : ${recipe.rcp_name}|"
                        >
                          레시피 이름 : gkdl
                        </span>
                      </a>
                      <span th:text="'♥'+${recipe.scrap}" class="right">스크랩수</span>
                    </p>
                <p class="d-flex justify-content-between">
                  <span th:text="|작성자: ${recipe.user_id}|" class="left">닉네임</span
                  >
                </p>
                <p class="d-flex justify-content-between">
                  <span th:text="${recipe.time}" class="left">시간</span><span th:text="${recipe.difficulty}">난이도 하</span
                  ><span th:text="${recipe.amount}" class="right">3인분</span>
                </p>
              </div>
                  <div class="mt-5 mx-3">
                    <input type="hidden" name="" th:value="${recipe.rcp_seq}" class="recipe-id">
                  <button type="button" class="btn btn-secondary recipe-select">선택</button>
                </div>
                </div>
              </div>
            </div>
            <label for="" class="form-label">선택 레시피 :</label>
            <input type="text" class="mt-4 select-value" th:field="*{rcp_seq}" readonly></input>
            <hr />
          </div>
<!-- ==================================================================== -->
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              th:errorclass="is-invalid"
              placeholder="제목을 입력해주세요."
              th:field="*{title}"
              maxlength="30"
            />
            <div class="invalid-feedback" th:errors="*{title}">제목오류</div>
          </div>
          <div class="mb-3">
            <label for="formFileSm" class="form-label">사진첨부</label>
            <input
              class="form-control form-control-sm"
              id="formFileSm"
              type="file"
              name="image"
              multiple
            />


            <div class="slider" th:if="${community.images != null}">
            <label for="">Current image:</label>
              <th:block th:each="img : ${community.images}">
                <img
                        th:src="@{/media/community/{image}(image=${img.filename})}"
                        alt=""
                        class="post-img"
                />
              </th:block>
          </div>

          

          <div class="mb-3">
            <textarea
              class="form-control"
              th:errorclass="is-invalid"
              rows="3"
              id="content"
              placeholder="내용을 입력해주세요."
              th:field="*{content}"
            ></textarea>
            <div class="invalid-feedback" th:errors="*{content}">내용오류</div>
          </div>
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-secondary mx-1">수정</button>
            <button
              type="button"
              onclick="location.href='/community'"
              class="btn btn-outline-secondary mx-1"
            >
              취소
            </button>
          </div>
        </form>
      </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script
      src="/static/js/community_form.js"
      th:src="@{/js/community_form.js}"
    ></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
  </body>
</html>
