<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>커뮤니티 게시판</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
      rel="stylesheet"
      href="/static/css/community.css"
      th:href="@{/css/community.css}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"
    />
  </head>
  <body class="bg-light">
    <script
      defer
      src="/static/js/community_post.js"
      th:src="@{/js/community_post.js}"
    ></script>
    <nav th:replace="fragments/nav :: front-nav('community')"></nav>
    <main class="container">
      <div class="bg-white p-5 rounded d-flex flex-column align-items-center">
        <div class="d-flex bd-highlight detail">
          <p
            class="me-auto bd-highlight category"
            th:text="${community.category=='0'}? '자유게시판 >':'레시피후기 >'"
          >
            카테고리>
          </p>
          <div th:if="${user.user_id}==${community.user_id}">
            <a
              class="btn btn-secondary btn-sm bd-highlight mx-1"
              th:href="@{|/community/edit/${community.id}|}"
              >수정</a
            >
            <a
              class="btn btn-secondary btn-sm bd-highlight mx-1 confirmDeletion"
              th:href="@{|/community/delete/${community.id}|}"
              >삭제</a
            >
          </div>
        </div>
        <h1 th:text="${community.title}">글제목</h1>
        <div class="d-flex bd-highlight detail">
          <p
            class="me-auto bd-highlight"
            th:text="${community.user_id}"
            id="userId"
          >
            글 작성자
          </p>
          <p
            class="bd-highlight px-2"
            th:text="|글 작성일자 : ${community.formatted_created_at}|"
          >
            글 작성일자
          </p>
          <p class="bd-highlight" th:text="|조회 : ${community.read_count}|">
            조회
          </p>
        </div>
        <hr class="my-2 line border border-dark" />
        <div
          th:if="${recipe}"
          class="result d-flex justify-content-between border border-secondary m-1 rounded"
          style="width: 70%"
        >
          <img
            src="/static/media/community/026c960a-0c41-4c2c-9388-212eff749316_ggo.png"
            th:src="@{${recipe.filepath}+${recipe.filename}}"
            width="130px"
            height="130px"
            class="m-3"
          />
          <div class="mt-3" style="width: 60%">
            <p class="d-flex justify-content-between">
              <a
                th:href="@{/recipe/view/{rcp_seq}(rcp_seq=${recipe.rcp_seq})}"
                target="_blank"
              >
                <span th:text="|레시피 이름 : ${recipe.rcp_name}|">
                  레시피 이름 : gkdl
                </span>
              </a>
              <span th:text="'♥'+${recipe.scrap}" class="right">스크랩수</span>
            </p>
            <p class="d-flex justify-content-between">
              <span th:text="|작성자: ${recipe.user_id}|" class="left"
                >닉네임</span
              >
            </p>
            <p class="d-flex justify-content-between">
              <span th:text="${recipe.time}" class="left">시간</span
              ><span th:text="${recipe.difficulty}">난이도 하</span
              ><span th:text="${recipe.amount}" class="right">3인분</span>
            </p>
          </div>
          <div class="mt-5 mx-3">
            <input
              type="hidden"
              name=""
              th:value="${recipe.rcp_seq}"
              class="recipe-id"
            />
          </div>
        </div>
        <hr class="my-2 line border border-dark" />
        <section class="content">
          <div class="slider" th:if="${community.images != null}">
            <th:block th:each="img : ${community.images}">
              <img
                th:src="@{/media/community/{image}(image=${img.filename})}"
                alt=""
                class="post-img"
              />
            </th:block>
          </div>
          <div th:utext="${community.content}">content</div>
        </section>
        <div class="d-flex bd-highlight detail">
          <a
            th:href="@{|/community/report/${community.id}|}"
            class="btn btn-secondary btn-sm me-auto bd-highlight confirmReport"
            >신고</a
          >
          <i
            class="fa fa-heart-o bd-highlight like-btn"
            id="like-btn"
            th:class="${community.isLiked == true}? 'fa fa-heart bd-highlight like-btn':'fa fa-heart-o bd-highlight like-btn'"
            th:text="| ${community.like_count}|"
          >
            0</i
          >
        </div>
        <hr class="my-2 line border border-dark" />
        <!-- ====================댓글 ㅅㅣ작 =========================-->
        <section class="comment">
          <div class="d-flex bd-highlight detail">
            <h4 class="me-auto bd-highlight px-2">댓글</h4>
            <p
              class="bd-highlight px-2"
              th:text="|댓글 수: ${#lists.size(comments)}|"
            >
              댓글 수: 0
            </p>
          </div>
          <div class="comment-content-box">
            <div th:each="comment : ${comments}" class="comment-content">
              <h6 th:text="${comment.user_id}">작성자</h6>
              <input type="hidden" th:value="${comment.id}" />
              <input
                class="comment-content"
                type="text"
                value="testtest"
                th:value="${comment.content}"
                disabled
              />
              <p th:text="${comment.formatted_created_at}">작성일자</p>
              <div th:if="${user.user_id}==${comment.user_id}">
                <button type="button" class="btn btn-secondary btn-sm edit-btn">
                  수정
                </button>
                <a
                  th:href="@{|/community/post/comment/delete?commentId=${comment.id}|}"
                  class="btn btn-secondary btn-sm confirmDeletion"
                >
                  삭제
                </a>
              </div>
              <div th:unless="${user.user_id}==${comment.user_id}">
                <a
                  th:href="@{|/community/post/comment/report?commentId=${comment.id}|}"
                  class="btn btn-secondary btn-sm confirmReport"
                >
                  신고
                </a>
              </div>
            </div>

          <!-- 댓글 남기기 -->
          <hr class="my-2 line border border-dark" />
          <div class="post_comment">
            <h6 th:text="${user.user_id}">로그인한 회원 아이디</h6>
            <div class="d-flex justify-content-between py-2">
              <form
                action="/community/post/comment"
                class="comment-box"
                method="post"
              >
                <input
                  type="hidden"
                  name="board_id"
                  th:value="${community.id}"
                />
                <input type="text" name="content" required />
                <button type="submit" class="btn btn-dark btn-sm">등록</button>
              </form>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- ajax에서필요 -->
    <input type="hidden" id="postId" th:value="${community.id}" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
      $(document).ready(function () {
        $('.slider').bxSlider({
          adaptiveHeight: true,
        });
      });
    </script>
  </body>
</html>
