<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjeopjjeop.recipe.dao.CommunityDAO">
    <select id="count" resultType="int">
        SELECT count(*) FROM communityboard
    </select>

    <select id="recipeReviewCount" resultType="int">
        SELECT count(*) FROM communityboard WHERE category > 0
    </select>

    <select id="freeForumCount" resultType="int">
        SELECT count(*) FROM communityboard WHERE category = 0
    </select>

    <select id="list" parameterType="com.jjeopjjeop.recipe.pagenation.Pagenation" resultType="CommunityDTO">
        SELECT * FROM (select t1.*,row_number() OVER (order by id DESC) AS seqnum
        FROM CommunityBoard t1) t1
        WHERE seqnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="recipeReviewList" parameterType="com.jjeopjjeop.recipe.pagenation.Pagenation" resultType="CommunityDTO">
        SELECT * FROM (select t1.*,row_number() OVER (order by id DESC) AS seqnum
        from CommunityBoard t1
        WHERE category = 1) t1
        WHERE seqnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <select id="freeForumList" parameterType="com.jjeopjjeop.recipe.pagenation.Pagenation" resultType="CommunityDTO">
        SELECT * FROM (select t1.*,row_number() OVER (order by id DESC) AS seqnum
        FROM CommunityBoard t1
        WHERE category = 0) t1
        WHERE seqnum BETWEEN #{startRow} AND #{endRow}
    </select>

    <insert id="insert" parameterType="CommunityDTO">
        INSERT INTO CommunityBoard
        VALUES(CommunityBoard_SEQ.nextval,#{user_id,jdbcType=VARCHAR},#{rcp_seq,jdbcType=VARCHAR},#{category,jdbcType=VARCHAR},#{title,jdbcType=VARCHAR},#{content,jdbcType=VARCHAR},sysdate,sysdate,0,0,0,#{image_exists,jdbcType=VARCHAR})
        <selectKey resultType="int" keyProperty="id" order="AFTER">
            SELECT CommunityBoard_SEQ.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <select id="findPostById" parameterType="int" resultType="CommunityDTO">
        SELECT * FROM CommunityBoard WHERE id=#{id}
    </select>

    <insert id="storeImage" parameterType="ImageDTO">
        INSERT INTO Image
        VALUES(Image_SEQ.nextval,#{filename,jdbcType=VARCHAR},#{board_id})
    </insert>

    <select id="findImageByPostId" parameterType="int" resultType="ImageDTO">
        SELECT * FROM Image WHERE board_id=#{id}
    </select>

    <update id="addReadCnt" parameterType="int">
        UPDATE CommunityBoard SET read_count = read_count+1
        WHERE id=#{id}
    </update>

    <delete id="deletePostById" parameterType="int">
        DELETE FROM CommunityBoard WHERE id=#{id}
    </delete>

    <delete id="deleteImageByPostId" parameterType="int">
        DELETE FROM Image WHERE board_id=#{id}
    </delete>

    <update id="reportPostById" parameterType="int">
        UPDATE CommunityBoard SET report = report+1
        WHERE id=#{id}
    </update>

    <update id="addLikeCntByPostId" parameterType="int">
        UPDATE CommunityBoard SET like_count = like_count+1
        WHERE id=#{id}
    </update>

    <update id="subtractLikeCntByPostId" parameterType="int">
        UPDATE CommunityBoard SET like_count = like_count-1
        WHERE id=#{id}
    </update>

    <insert id="insertLikeInfo" parameterType="Map">
        INSERT INTO COMMUNITYLIKETABLE
        VALUES(#{userId},#{postId})
    </insert>

    <delete id="deleteLikeInfo" parameterType="Map">
        DELETE FROM COMMUNITYLIKETABLE WHERE COMMUNITY_BOARD_ID=#{postId} AND User_id=#{userId}
    </delete>

    <select id="checkIfUserLikedPost" parameterType="Map" resultType="int">
        select COMMUNITY_BOARD_ID from COMMUNITYLIKETABLE
        where USER_ID =#{userId} and COMMUNITY_BOARD_ID=#{postId}
    </select>

    <insert id="updatePost" parameterType="CommunityDTO">
        UPDATE communityboard
        SET
        CATEGORY = #{category},
        TITLE = #{title,jdbcType=VARCHAR},
        CONTENT = #{content,jdbcType=VARCHAR},
        rcp_seq = #{rcp_seq,jdbcType=VARCHAR},
        IMAGE_EXISTS = #{image_exists,jdbcType=INTEGER},
        UPDATED_AT = sysdate
        WHERE
        id = #{id}
      </insert>

    <select id="findCommunityBySearch" parameterType="Map" resultType="CommunityDTO">

        SELECT * FROM (SELECT t1.* ,row_number() OVER (order by id DESC) AS seqnum FROM (SELECT * FROM (SELECT * FROM communityboard

            <choose>
                <when test="form.category == 'all'">
                    WHERE category BETWEEN 0 AND 1)
                </when>
                <when test="form.category == 'free'">
                    WHERE category = 0)
                </when>
                <when test="form.category == 'recipe'">
                    WHERE category = 1)
                </when>
            </choose>

        <choose>
            <when test="form.option == 'title'">
                WHERE title LIKE '%' || #{form.keyword} || '%'
            </when>
            <when test="form.option == 'writer'">
                WHERE user_id LIKE '%' || #{form.keyword} || '%'
            </when>
            <when test="form.option == 'content'">
                WHERE content LIKE '%' || #{form.keyword} || '%'
            </when>
            <when test="form.option == 'writerAndContent'">
                WHERE title LIKE '%' || #{form.keyword} || '%'
                OR content LIKE '%' || #{form.keyword} || '%'
            </when>

        </choose>)t1

        <choose>
            <when test="form.period == 'all'">
                <![CDATA[
        WHERE created_at <= sysdate
        ]]>
            </when>
            <when test="form.period == 'day'">
                WHERE created_at >= (select  sysdate - interval '1' day  from dual)
            </when>
            <when test="form.period == 'week'">
                WHERE created_at >= (select  sysdate - interval '7' day  from dual)
            </when>
            <when test="form.period == 'Enter Date'">
                WHERE created_at between #{form.from} AND #{form.to}
            </when>
        </choose>

         ) WHERE seqnum BETWEEN #{page.startRow} AND #{page.endRow}


    </select>
    <select id="countCommunityBySearch" parameterType="com.jjeopjjeop.recipe.form.CommunitySearchForm" resultType="int">

        SELECT count(*) FROM (SELECT * FROM (SELECT * FROM communityboard
        <choose>
            <when test="category == 'all'">
                WHERE category BETWEEN 0 AND 1)
            </when>
            <when test="category == 'free'">
                WHERE category = 0)
            </when>
            <when test="category == 'recipe'">
                WHERE category = 1)
            </when>
        </choose>
        <choose>
            <when test="option == 'title'">
                WHERE title LIKE '%' || #{keyword} || '%'
            </when>
            <when test="option == 'writer'">
                WHERE user_id LIKE '%' || #{keyword} || '%'
            </when>
            <when test="option == 'content'">
                WHERE content LIKE '%' || #{keyword} || '%'
            </when>
            <when test="option == 'writerAndContent'">
                WHERE title LIKE '%' || #{keyword} || '%'
                OR content LIKE '%' || #{keyword} || '%'
            </when>
        </choose>)

        <choose>
            <when test="period == 'all'">
                <![CDATA[
        WHERE created_at <= sysdate
        ]]>
            </when>
            <when test="period == 'day'">
                WHERE created_at >= (select  sysdate - interval '1' day  from dual)
            </when>
            <when test="period == 'week'">
                WHERE created_at >= (select  sysdate - interval '7' day  from dual)
            </when>
            <when test="period == 'Enter Date'">
                WHERE created_at between #{from} AND #{to}
            </when>
        </choose>
    </select>
</mapper>