<?xml version="1.0" encoding="UTF-8"?>
<!-- https://mybatis.org/mybatis-3/configuration.html#mappers에서 세줄만 복붙 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjeopjjeop.recipe.dao.ProduceDAO">

<!--	dto경로: com.jjeopjjeop.recipe.dto.ProduceDTO
				com.jjeopjjeop.recipe.dto.ProduceDTO-->
	<!--판매글 작성 반영-->
	<insert id="write" parameterType="com.jjeopjjeop.recipe.dto.ProduceDTO">
		INSERT INTO produce_board
		VALUES(produce_num_seq.nextval, #{user_id}, #{produce_type}, #{produce_name}, #{price}, #{produce_image}, #{produce_image_path}, #{produce_description})
	</insert>

<!--	나중에 검색때 쓰면 될듯~~-->
<!--	<select id="produceList" resultType="com.jjeopjjeop.recipe.dto.ProduceDTO">-->
<!--		SELECT * FROM produce_board ORDER BY produce_num-->
<!--	</select>-->


<!--	produce_num	NUMBER-->
<!--	user_id	VARCHAR2(10)-->
<!--	produce_type	NUMBER-->
<!--	produce_name	VARCHAR2(30)-->
<!--	price	NUMBER-->
<!--	produce_image	VARCHAR2(300)-->
<!--	produce_image_path	VARCHAR2(300)-->
<!--	produce_description	VARCHAR2(200)-->


<!--	<resultMap id="produceResult" type="com.jjeopjjeop.recipe.dto.ProduceDTO">-->
<!--		<result property="produce_num" column="produce_num" />-->
<!--		<result property="user_id" column="user_id" />-->
<!--		<result property="produce_type" column="produce_type" />-->
<!--		<result property="produce_name" column="produce_name" />-->
<!--		<result property="price" column="price" />-->
<!--		<result property="produce_image" column="produce_image" />-->
<!--		<result property="produce_image_path" column="produce_image_path" />-->
<!--		<result property="produce_description" column="produce_description" />-->
<!--	</resultMap>-->


	<!--모든 판매글 조회-->
<!--<select id="produceList" resultMap="produceResult">-->
<!--	<select id="produceList" resultType="com.jjeopjjeop.recipe.dto.ProduceDTO">-->
<!--		SELECT * FROM produce_board ORDER BY produce_num DESC-->
<!--	</select>-->

	<select id="produceList" parameterType="RecipePageDTO" resultType="com.jjeopjjeop.recipe.dto.ProduceDTO">
		<![CDATA[
        SELECT rcp_li.* FROM
            (SELECT rcp.*, rownum rm FROM
                (SELECT * FROM produce_board
                ORDER BY produce_num DESC)rcp)rcp_li
        WHERE rm >= #{startRow} AND rm <= #{endRow}
        ]]>
	</select>

	<!--필터링한 판매글 조회-->
<!--<select id="produceListType" parameterType="com.jjeopjjeop.recipe.dto.ProduceDTO" resultMap="produceResult"   >-->
	<select id="produceListType" parameterType="int" resultType="com.jjeopjjeop.recipe.dto.ProduceDTO"   >
		SELECT * FROM produce_board WHERE produce_type=#{produce_type} ORDER BY produce_num DESC
	</select>

	<!--판매글 삭제-->
	<delete id="produceDelete" parameterType="int">
		DELETE FROM produce_board WHERE produce_num=#{produce_num}
	</delete>

	<!--판매글 상세보기-->
	<select id="produceView" parameterType="int" resultType="com.jjeopjjeop.recipe.dto.ProduceDTO">
		SELECT * FROM produce_board WHERE produce_num=#{produce_num}
	</select>

	<!--판매글 수정-->
	<update id="produceUpdate" parameterType="com.jjeopjjeop.recipe.dto.ProduceDTO">
		UPDATE produce_board
		SET produce_type=#{produce_type}, produce_name=#{produce_name}, price=#{price}, produce_description=#{produce_description}
		WHERE produce_num=#{produce_num}
	</update>

	<!--페이지 처리를 위해 판매글 개수 세기-->
	<select id="produceCount" resultType="int">
		SELECT count(*) FROM produce_board
	</select>


</mapper>