<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjeopjjeop.recipe.dao.UserDAO">

    <resultMap id="userResult" type="com.jjeopjjeop.recipe.dto.UserDTO">
        <result property="user_id" column="user_id" />
        <result property="password" column="password" />
        <result property="usertype" column="usertype" />
        <result property="username" column="username" />
        <result property="nickname" column="nickname" />
        <result property="email" column="email" />
        <result property="phone" column="phone" />
        <result property="birthday" column="birthday" />
        <result property="gender" column="gender" />
        <result property="postno" column="postno" />
        <result property="address" column="address" />
    </resultMap>

    <resultMap id="userCommunity" type="com.jjeopjjeop.recipe.dto.CommunityDTO">
        <result property="id" column="id" />
        <result property="user_id" column="user_id" />
        <result property="title" column="title" />
        <result property="content" column="content" />
        <result property="created_at" column="created_at" />
        <result property="updated_at" column="updated_at" />
        <result property="report" column="report" />
        <result property="read_count" column="read_count" />
        <result property="like_count" column="like_count" />
    </resultMap>

    <resultMap id="myCommunityResult" type="com.jjeopjjeop.recipe.dto.UserDTO" autoMapping="true">

        <collection property="communityDTOList" javaType="java.util.List"
                    ofType="com.jjeopjjeop.recipe.dto.CommunityDTO" autoMapping="true"/>
    </resultMap>


    <select id="selectAllUserList" resultMap="userResult">
        SELECT * FROM user_j
    </select>

    <insert id="insertUser" parameterType="com.jjeopjjeop.recipe.dto.UserDTO">
        INSERT INTO user_j
        (user_id, password, usertype, username, nickname, email, phone, birthday, gender, postno, address)
        VALUES(#{user_id}, #{password}, 1, #{username}, #{nickname}, #{email}, #{phone}, #{birthday},
            #{gender}, #{postno}, #{address})
    </insert>

    <select id="loginById" resultType="userDTO" parameterType="com.jjeopjjeop.recipe.dto.UserDTO">
		SELECT * FROM user_j WHERE user_id=#{user_id} AND password=#{password}
    </select>

    <select id="findId" resultType="userDTO" parameterType="com.jjeopjjeop.recipe.dto.UserDTO">
        SELECT * FROM user_j WHERE username=#{username} AND email=#{email}
    </select>

    <select id="findPassword" resultType="userDTO" parameterType="com.jjeopjjeop.recipe.dto.UserDTO">
        SELECT * FROM user_j WHERE user_id=#{user_id} AND email=#{email}
    </select>

    <update id="updatePassword" parameterType="com.jjeopjjeop.recipe.dto.UserDTO">
        UPDATE user_j SET password=#{password} WHERE user_id=#{user_id} AND email=#{email}
    </update>

    <select id="readMypage" parameterType="String" resultType="userDTO">
        SELECT * FROM user_j WHERE user_id=#{user_id}
    </select>

    <update id="updateMypage">
        UPDATE user_j
        SET password=#{password}, username=#{username}, nickname=#{nickname}, email=#{email}, phone=#{phone},
            birthday=#{birthday}, gender=#{gender}, postno=#{postno}, address=#{address, jdbcType=VARCHAR}
        WHERE user_id=#{user_id}
    </update>

    <select id="checkId" resultType="int" parameterType="String">
        SELECT count(*) FROM user_j WHERE user_id = #{user_id}
    </select>

    <delete id="deleteUser" parameterType="String">
        DELETE FROM user_j WHERE user_id=#{user_id} AND password=#{password}
    </delete>

    <select id="showMyCommunity" resultMap="myCommunityResult">
        SELECT b.id, a.user_id, b.category, b.title, b.content, b.created_at, b.updated_at, b.report, b.read_count, b.like_count
        FROM user_j a
        LEFT OUTER JOIN communityboard b ON a.user_id = b.user_id
        WHERE a.user_id = #{user_id}
    </select>

    <select id="viewMyCommunity" parameterType="Map" resultType="CommunityDTO">
        SELECT * FROM
        (SELECT *
        FROM (select t1.*, row_number() OVER (PARTITION BY user_id ORDER BY id DESC) AS seqnum FROM CommunityBoard t1) t1
        WHERE user_id=#{user_id} and category=0) t1
        WHERE seqnum BETWEEN #{page.startRow} AND #{page.endRow}
    </select>

    <select id="countMyCommunity" parameterType="String" resultType="int">
        SELECT count(*) as listCnt FROM communityboard WHERE user_id=#{user_id} and category=0
    </select>

    <select id="viewMyReview" parameterType="Map" resultType="CommunityDTO">
        SELECT * FROM
        (SELECT *
        FROM (select t1.*, row_number() OVER (PARTITION BY user_id ORDER BY id DESC) AS seqnum FROM CommunityBoard t1) t1
        WHERE user_id=#{user_id} and category=1) t1
        WHERE seqnum BETWEEN #{page.startRow} AND #{page.endRow}
    </select>

    <select id="countMyReview" parameterType="String" resultType="int">
        SELECT count(*) as listCnt FROM communityboard WHERE user_id=#{user_id} and category=1
    </select>

    <select id="viewMyRecipe" parameterType="Map" resultType="RecipeDTO">
        SELECT * FROM
        (SELECT rcp_li.*
        FROM(SELECT rcp.*, row_number() OVER (PARTITION BY user_id ORDER BY rcp_seq DESC) AS rm FROM recipe rcp) rcp_li
        WHERE user_id=#{user_id}) t2
        <![CDATA[
        WHERE rm >= #{page.startRow} AND rm <= #{page.endRow}
        ]]>
    </select>

    <select id="countMyRecipe" parameterType="String" resultType="int">
        SELECT count(rcp_seq)
        FROM(SELECT rcp.*, rownum rm FROM (SELECT * FROM recipe) rcp) rcp_li
        WHERE user_id=#{user_id}
    </select>
</mapper>