<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="userSidebar" id="sidebar-menu" class="main_menu_side hidden-print main_menu" data-th-fragment="sidebar-menu">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a
                    class="nav-link"
                    th:classappend="${title}=='mypage' ? 'active'"
                    th:href="@{/mypage}"
                    th:aria-current="${title}=='mypage' ? 'page' : false"
                >
                    <i class="fa fa-user-circle"></i>
                    My Page
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    th:classappend="${title}=='내 레시피' ? 'active'"
                    th:href="@{/mypage/recipe}"
                    th:aria-current="${title}=='내 레시피' ? 'page' : false"
                    >
                    <i class="fa fa-cutlery"></i>
                    My Recipe
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    th:classappend="${title}=='내 게시글'? 'active'"
                    th:href="@{/mypage/board}"
                    th:aria-current="${title}=='내 게시글' ? 'page' : false"
                >
                    <i class="fa fa-pencil-square-o"></i>
                    My Board
                </a>
            </li>
            <li class="nav-item">
                <a
                    class="nav-link"
                    th:classappend="${title}=='내 장바구니'? 'active'"
                    th:href="@{/mypage/cart}"
                    th:aria-current="${title}=='내 장바구니' ? 'page' : false"
                >
                    <i class="fa fa-shopping-basket"></i>
                    My Shopping
                </a>
            </li>
            <li class="nav-item">
                <a
                        class="nav-link"
                        th:classappend="${title}=='내 결제내역'? 'active'"
                        th:href="@{/mypage/pay}"
                        th:aria-current="${title}=='내 결제내역' ? 'page' : false"
                >
                    <i class="fa fa-money"></i>
                    My PayHistory
                </a>
            </li>
            <li class="nav-item">
                <a
                   class="nav-link"
                   th:classappend="${title}=='회원탈퇴'? 'active'"
                   th:href="@{/mypage/withdraw}"
                   th:aria-current="${title}=='회원탈퇴' ? 'page' : false"
                >
                    <i class="fa fa-cog"></i>
                    My Account
                </a>
            </li>
        </ul>
    </div>
</div>
</html>