<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>장바구니</title>
        <th:block th:replace="fragments/head :: links"> </th:block>
        <link href="/static/css/produce.css" th:href="@{/css/produce.css}" rel="stylesheet"/>
    </head>
<body>
<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script defer type="text/javascript" th:src="@{/js/common.js}" src="/static/js/common.js"></script>

<nav th:replace="fragments/nav :: front-nav(title)"></nav>
<div class="wrapper d-flex align-items-stretch">
    <div class="col" th:replace="fragments/userSidebar :: userSidebar"></div>
    <div id="content" class="pt-5">
        <div class="container py-5 h-100">
            <h4 class="row d-flex justify-content-center align-items-center mb-3">장바구니</h4>
            <table class="table table-hover text-center">
                <thead>
                    <tr>
                        <th scope="col">일련번호</th>
                        <th scope="col">상품명</th>
                        <th scope="col">판매자</th>
                        <th scope="col">수량 </th>
                        <th scope="col">총가격</th>
                        <th scope="col">결제</th>
                        <th scope="col">삭제</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="produceDTO : ${list}">
                        <input type="hidden" th:value="${produceDTO.produce_num}">
                        <tr>
                            <th:block th:each="payDTO : ${produceDTO.payDTOList}">
                                <td th:text="${page.perPage * page.page + produceDTOStat.count}">일련번호</td>
                                <!--페이지당 보이는 게시글 수 * 현재페이지번호 + 한페이지당 일련번호로 계산해서 페이지 넘어가도 일련번호 이어지게 만듧.-->
                                <td>
                                    <th:block th:if="${produceDTO.end_of_sale == 0}">
                                        <a th:href="@{/produce/view/{produceNum}(produceNum=${produceDTO.produce_num})}" th:text="${produceDTO.produce_name}">\
                                        </a>
                                    </th:block>
                                    <th:block th:unless="${produceDTO.end_of_sale == 0}">
                                        <a href="#" style="color:black" th:text="${produceDTO.produce_name} + '(판매종료)'">\</a>
                                    </th:block>
                                </td>
                                <th:block th:each="item : ${idToBusinessName}">
                                    <th:block th:if="${produceDTO.user_id == item.key}">
                                        <td th:text="${item.value}">판매자</td>
                                    </th:block>
                                </th:block>
                                <td th:text="${payDTO.quantity}">수량</td>
                                <td data-th-text="${#numbers.formatInteger(payDTO.total_price, 3, 'COMMA') + '원'}">총가격</td>
                                <td>
                                    <th:block th:if="${produceDTO.end_of_sale == 0}">
                                        <form method="post" th:action="@{/kakaoPay/{pay_num}(pay_num=${payDTO.pay_num})}">
                                            <button class="btn btn-md btn-warning">카카오페이로 결제하기</button>
                                        </form>
                                    </th:block>
                                    <th:block th:unless="${produceDTO.end_of_sale == 0}">
                                        결제불가(판매종료)</th:block>
                                </td>
                                <td><a th:href="@{/mypage/cart/delete/{pay_num}(pay_num=${payDTO.pay_num})}">
                                    <button type="button" class="btn btn-md btn-warning confirmDeletion">삭제</button></a>
                                </td>
                            </th:block>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
            <!--  ====================페이지네이션 시작======================-->
            <nav class="mt-3" th:if="${page.count>page.perPage}">
                <ul class="pagination justify-content-center">
                    <li
                            class="page-item"
                            th:classappend="${page.page == 0} ? 'disabled'">
                        <a th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page-1}__|}"
                           class="page-link">&laquo;</a>
                    </li>
                    <li
                            class="page-item"
                            th:each="number : ${#numbers.sequence(page.startPageNum,page.endPageNum)}"
                            th:classappend="${page.page==number-1} ? 'active'">
                        <a
                                th:href="@{|${#httpServletRequest.requestURI}?page=__${number-1}__|}"
                                class="page-link"
                                th:text="${number}"
                        ></a>
                    </li>
                    <li
                            class="page-item"
                            th:classappend="${page.page == page.totalPageCnt-1} ? 'disabled'">
                        <a th:href="@{|${#httpServletRequest.requestURI}?page=__${page.page+1}__|}"
                           class="page-link">&raquo;</a>
                    </li>
                </ul>
            </nav>
                <!--  ====================페이지네이션 끝======================-->


    </div>
</div>
</body>
</html>