<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head('비밀번호 찾기')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <!-- bootstrap: header에 추가하지 않으면 서버 재시작해야 적용된 내용 확인할 수 있음 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- icons -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<script th:inline="javascript">
    var message = [[${message}]];
    if(message){
        alert(message);
    }
</script>
<nav th:replace="fragments/nav :: front-nav(title)"></nav>
<div class="container position-absolute top-50 end-0 translate-middle-y">
    <h4>비밀번호 찾기</h4>
    <h6 class="text-muted">이름과 아이디, 이메일 주소를 입력하세요.</h6>
    <form action="/findpw" method="post">
        <div class="form-group p-2 w-25">
            <div class="row mb-3 align-items-center">
                <label for="username" class="form-label"><small>이름</small></label>
                <input
                        type="text"
                        class="form-control"
                        id="username"
                        name="username"
                        required
                        placeholder="이름을 입력하세요"
                />
            </div>
            <div class="row mt-2 mb-3 align-items-center">
                <label for="user_id" class="form-label"><small>아이디</small></label>
                <input
                        type="text"
                        class="form-control"
                        id="user_id"
                        name="user_id"
                        required
                        placeholder="아이디를 입력하세요"
                />
            </div>
            <div class="row mt-2 mb-3 align-items-center">
                <label for="email" class="form-label"><small>이메일 주소</small></label>
                <input
                        type="text"
                        class="form-control"
                        id="email"
                        name="email"
                        required
                        placeholder="ex) abc@test.tt"
                />
            </div>
        </div>
        <div class="justify-content-center pt-4">
            <input type="submit" class="btn btn-warning ms-3" value="확인" />
            <button type="button" class="btn btn-secondary mx-2 my-3" th:onclick="|location.href='@{/login}'|">취소</button>
        </div>
    </form>
</div>
</body>
</html>