<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--카카오 오픈API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script th:inline="javascript">
function kakaopost() {
    new daum.Postcode({
        oncomplete: function(data) {
           document.querySelector("#postno").value = data.zonecode;
           document.querySelector("#address").value = data.address
        }
    }).open();
}
<!-- 생년월일 max 처리가 안됨 ==> 확인 후 삭제-->
<!--document.getElementById('birthday').value = new Date().toISOString().substring(0, 10);;-->
<!--document.getElementById("birthday").max = new Date().toISOString().split("T")[0];-->

</script>
<head th:replace="fragments/head('회원가입')">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
</head>
<body>
<nav th:replace="fragments/nav :: front-nav('회원가입')"></nav>
<form action="/signup" method="post" th:object="${userDTO}">
    <div class="form-group">
        <div class="form-id">
            <label for="user_id">아이디</label>
            <input type="text" id="user_id" name="user_id" th:field="*{user_id}" th:errorclass="field-error" placeholder="아이디를 입력하세요" />
            <!-- 에러메시지 출력 -->
            <div class="field-error" th:errors="*{user_id}">아이디 오류</div>
        </div>
        <div class="error-message"></div>
        <div class="form-password">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" th:field="*{password}" th:errorclass="field-error" placeholder="비밀번호를 입력하세요" />
            <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
        </div>
        <div class="form-password-chk">
            <label for="password2">비밀번호 재입력</label>
            <input type="password" id="password2" name="password2" th:field="*{password}" th:errorclass="field-error" placeholder="비밀번호를 다시 한번 입력하세요" />
            <div class="field-error" th:errors="*{password}">비밀번호 오류</div>
        </div>
        <div class="form-username">
            <label for="username">이름</label>
            <input type="text" id="username" name="username" th:field="*{username}" th:errorclass="field-error"placeholder="이름을 입력하세요" />
            <div class="field-error" th:errors="*{username}">이름 오류</div>
        </div>
        <div class="form-nickname">
            <label for="nickname">별명</label>
            <input type="text" id="nickname" name="nickname" th:field="*{nickname}" th:errorclass="field-error" placeholder="별명을 입력하세요" />
            <div class="field-error" th:errors="*{nickname}">별명 오류</div>
        </div>
        <div class="form-email">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email" th:field="*{email}" th:errorclass="field-error" placeholder="ex) abc@test.tt" />
            <div class="field-error" th:errors="*{email}">이메일 오류</div>
        </div>
        <div class="form-phone">
            <label for="phone">전화번호</label>
            <input type="text" id="phone" name="phone" th:field="*{phone}" th:errorclass="field-error" placeholder="ex) 000-0000-0000" />
            <div class="field-error" th:errors="*{phone}">전화번호 오류</div>
        </div>
        <div class="form-birthday">
            <label for="birthday">생년월일</label>
            <input type="date" id="birthday" name="birthday" th:field="*{birthday}" th:errorclass="field-error" />
            <div class="field-error" th:errors="*{birthday}">생년월일 오류</div>
        </div>
        <div class="form-gender">
            <label for="gender">성별</label>

            <select name="gender" id="gender">
                <option value="" selected disabled hidden>성별</option>
                <option value="1">남</option>
                <option value="2">여</option>
            </select>
<!--            <div class="field-error" th:errors="*{gender}">성별 오류</div>-->
        </div>
        <div class="form-postno">
            <label for="postno">우편번호</label>
            <input type="text" id="postno" name="postno" size="7" readonly />
            <!-- <input type="text" id="postno" name="postno" size="7" readonly> -->
            <!-- put type="button" value="우편번호찾기" />-->
            <input type="button" value="우편번호찾기" onclick="kakaopost()" />
<!--            <div class="field-error" th:errors="*{postno}">우편번호 오류</div>-->
        </div>
        <div class="form-address">
            <label for="address">주소</label>
            <input type="text" id="address" name="address" size="70" />
<!--            <div class="field-error" th:errors="*{address}">주소 오류</div>-->
        </div>
        <hr/>
        <!-- 판매자인 경우 아래 추가 기입 -->
<!--        <div class="form-business_name">-->
<!--            <label for="business_name">상호명</label>-->
<!--            <input type="text" id="business_name" name="business_name" />-->
<!--        </div>-->
<!--        <div class="form-registration_number">-->
<!--            <label for="registration_number">사업자 등록번호</label>-->
<!--            <input type="text" id="registration_number" name="registration_number" />-->
<!--        </div>-->
<!--        <div class="form-seller_phone">-->
<!--            <label for="seller_phone">사업장 전화번호</label>-->
<!--            <input type="text" id="seller_phone" name="seller_phone" />-->
<!--        </div>-->
<!--        <div class="form-seller_address">-->
<!--            <label for="seller_address">사업장 주소</label>-->
<!--            <input type="text" id="seller_address" name="seller_address" />-->
<!--        </div>-->
        <div>
            <input type="submit" value="등록" />
        </div>
        <div>
            <input type="button" value="취소" onclick="location.href='login.html'" th:onclick="|location.href='@{/login}'|" />
        </div>
    </div>
</form>
</body>
</html>