div.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.category {
  color: black;
}

hr.line {
  width: 100%;
}
form {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
}

.ck.ck-content {
  height: 100%;
  min-height: 400px;
}
