div.caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.category {
  color: black;
}

hr.line {
  width: 100%;
}
form {
  width: 100%;
  max-width: 800px;
  min-width: 500px;
}

.ck.ck-content {
  height: 100%;
  min-height: 400px;
}

div.detail {
  width: 100%;
}

.detail > p.category {
  color: rgb(119, 119, 119);
}

i.fa-heart-o {
  color: rgb(255, 51, 51);
}

/* comment */
section.comment {
  width: 100%;
}

.comment-content > input {
  width: 50%;
}

.post_comment > div > input {
  width: 90%;
  margin-right: 10px;
}
