@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  height: 100%;
}

body {
  background-color: #f0f0f0;
}
/* body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
} */

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://cdn.pixabay.com/photo/2016/12/26/17/28/spaghetti-1932466_960_720.jpg');

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: '양진체';
}

.hero-text h1 {
  font-size: 60px;
}

.hero-text form input {
  width: 500px;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-cat {
  background-color: rgb(255, 237, 227);
  border-radius: 50%;
  padding: 20px 30px;
}

.recipe-cat-box p {
  margin: 0;
  padding-top: 5px;
}

.recipe-popular img,
p {
  margin-left: 10px;
}

footer {
  margin-top: 200px;
  padding: 50px;
}

main > div {
  margin-top: 40px;
  padding: 50px;
  /* border-radius: 10px; */
  /* border-style: ridge; */

  border: 1px solid rgb(211, 211, 211);
}

.title {
  margin-bottom: 20px;
}

/* main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
} */

.recipe-cat-box,
.recipe-popular,
.shopping-popular {
  width: 100%;
  max-width: 1200px;
  align-self: center;

  margin: auto;
  margin-top: 10px;
}

footer {
  width: 100%;
  align-self: center;
}

.fa-cog {
  font-size: 50px;
}
