.a-to-black{
    color: black;
}

/* =================판매글 카드 시작======================= */
  /*아마 판매글 글씨체?*/
.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff; }
.block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0; }
.block-4 .block-4-text h3 a {
      text-decoration: none; }
/* =================판매글 카드 끝======================= */


/*========inner_content===========*/
.form_section {
  position: relative;
}

/* 입력폼의 각각의 입력칸에 스타일 지정. */
.form_section .form_container .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* 입력칸중 textarea만 크게 보이게.
.form_section textarea<- 이렇게 지정하면 틀림.
위에서 입력칸들 css정해서 textarea rows가 안통하는 거임.*/
.form_section .form_container textarea.form-control {
  height: 150px;
  resize: none;
}

/* 입력폼의 버튼에 스타일 */
.form_section .form_container button {
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.form_section .form_container button:hover {
  background-color: #e69c00;
}

/* 제목 */
.form_section .heading_container {
  margin-bottom: 25px;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/*=======================produceView, produceList====================================*/
  /* 적절한 여백 */
.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }