.a-to-black{
    color: black;
}

.form_section textarea{
  resize: none;  /*  사용자가 드래그로 크기조절하는 거 막기. */
  height: 100px; /*근데 이게 안먹힌다. 직접 style=~해야됨.*/
}

/* ==============pagination 시작========================== */
/*.pages의 모든 a의 글씨색 검정색으로 */
.pages a{color:black;}

  /* 페이지 표시하는 글자들 가운데, 옆으로나열, 크기 조절 등 */
.pages ul li a {
  /* text-align: center; */
  /* display: inline-block; */
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  border: 1px solid #ccc; }

  /* active인 li의 a만 배경을 노랗게 */
.pages ul li.active a {
  background: #FFC947;
  color: rgb(0, 0, 0);
  border: 1px solid transparent; }

  /*왜 안먹힘...? */
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ffbe33;
  border-color: #ccc;
  }
/* ==============pagination 끝========================= */

/* =================판매글 카드 시작======================= */
  /*아마 판매글 글씨체?*/
.block-4 {
  -webkit-box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, 0.1);
  background: #fff; }
.block-4 .block-4-text h3 {
    font-size: 20px;
    margin-bottom: 0; }
.block-4 .block-4-text h3 a {
      text-decoration: none; }
/* =================판매글 카드 끝======================= */


/*========inner_content===========*/
.form_section {
  position: relative;
}

/* 입력폼의 각각의 입력칸에 스타일 지정. */
.form_section .form_container .form-control {
  width: 100%;
  border: none;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 5px;
  padding-left: 25px;
  border: 1px solid #999;
  outline: none;
  color: #000000;
  border-radius: 5px;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

/* 입력폼의 버튼에 스타일 */
.form_section .form_container button {
  margin-top: 15px;
  border: none;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 55px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.form_section .form_container button:hover {
  background-color: #e69c00;
}

/* 제목 */
.form_section .heading_container {
  margin-bottom: 25px;
}

.heading_container h2 {
  position: relative;
  margin-bottom: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

/*=======================produceView, produceList css====================================*/

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    .site-section {
      padding: 5em 0; } }

.site-section.site-section-sm {
  padding: 4em 0; }