/* body 기본 글씨체, 메인이 이거고(카테고리 이름이나,, 글 제목 이런거)
 상세로 들어갈때는 다른거 써도 됨. */
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* 로고 글씨체*/
@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.navbar-brand.logo {
  font-family: '양진체';
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

/* 컨테이너 너비 좁히기 */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}

@media (min-width: 992px){
    .container{
        width: 940px;
    }
}

.navbar-brand {
  font-family: 'Dancing Script', cursive;
}

.navbar-brand span {
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
  color: #ffbe33;
}

.custom_nav-container .nav_search-btn {
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  color: #ffffff;
  margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
  color: #ffbe33;
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option a {
  margin: 0 10px;
}

.user_option .user_link {
  color: #ffffff;
}

.user_option .user_link:hover {
  color: #ffbe33;
}

.user_option .cart_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.user_option i {
  width: 17px;
  height: auto;
  color: white;
  margin-bottom: 2px;
}

.user_option i:hover {
  color: #ffbe33;
}

.user_option .login {
  display: inline-block;
  padding: 8px 30px;
  background-color: #ffbe33;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

.user_option .login:hover {
  background-color: #e69c00;
}
