<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>쩝쩝박사</title>
    <th:block th:replace="fragments/head :: links">
    </th:block>
    <link
      rel="stylesheet"
      href="/static/css/index.css"
      th:href="@{/css/index.css}"
    />

    <link
      rel="stylesheet"
      href="/static/css/recipe.css"
      th:href="@{/css/recipe.css}"
    />

    <link
      rel="stylesheet"
      href="/static/css/searchPage.css"
      th:href="@{/css/searchPage.css}"
    />
  </head>
  <body class="bg-light">
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark py-3"
      aria-label="Eighth navbar example"
      th:replace="fragments/nav :: front-nav('search')"
    >
      <div class="container">
        <a class="navbar-brand" href="#">NAME</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample07"
          aria-controls="navbarsExample07"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample07">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Recipe</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Shopping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Community</a>
            </li>
          </ul>
          <div class="user_option d-flex">
            <a href="" class="user_link">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>
            <a class="cart_link" href="#">
              <i class="fa fa-shopping-cart"></i>
            </a>

            <a class="search_link" href="#">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>

            <a href="" class="login"> Login </a>
          </div>
        </div>
      </div>
    </nav>

    <main class="container">
      <h1 class="m-4 pb-3">통합검색</h1>

      <form class="mt-3" id="search-form" th:action="@{/search}" method="post">
        <div class="input-div">
          <label for="inputPassword2" class="visually-hidden">search</label>
          <input
            type="text"
            class="form-control"
            id="inputPassword2 search-input"
            name="keyword"
            placeholder="재료를 검색해보세요."
          />
        </div>
        <div>
          <button type="submit" class="btn btn-primary mb-3">검색</button>
        </div>
      </form>
      <h4 th:if="${keyword}" th:text="|'${keyword}' 검색결과 :|">키워드 검색결과</h4>
      <div th:if="${NoKeyword}" class="alert alert-danger" role="alert">
        검색어를 입력해주세요!
      </div>
      <!-- ================상품 검색결과==================== -->
      <div th:if="${NoProductList}">
        <h4>연관 상품이 없습니다.</h4>
      </div>
      <div class="shopping-popular bg-white mb-5" th:if="${productList}">
        <div class="d-flex title">
          <p>총 <h5 class="rcpSize" th:text="${productListSize}"> 00 </h5>개의 상품이 있습니다</p>

          <!-- 품절임박한 상품 순으로 정렬된 레시피 페이지로 이동 -->
          <h6 class="ms-auto" th:if="${productListSize > 4}">
            <a th:href="@{|/moreProduct?keyword=${keyword}|}">> 더보기</a>
          </h6>
        </div>
        <div class="row">
          <div
            class="col-3 mb-4"
            data-aos="fade-up"
            th:each="produce : ${productList}"
          >
            <div
              class="block-4 text-center border"
              th:onclick="|location.href='@{/produce/view/{produce_num}(produce_num=${produce.produce_num})}'|"
              style="cursor: pointer"
            >
              <figure class="block-4-image">
                <!--                                    이미지 클릭해도 상세페이지로 가게 설정함. 아님 아예 a태그 이벤트 막는게 나은가?-->
                <a
                  th:href="@{/produce/view/{produce_num}(produce_num=${produce.produce_num})}"
                >
                  <img
                    class="img-fluid"
                    th:src="${produce.produce_image_path}"
                    alt="상품이미지"
                  />
                </a>
              </figure>
              <div class="block-4-text p-4">
                <h3
                  class="text-dark font-weight-bold"
                  th:text="${produce.produce_name}"
                >
                  상품명
                </h3>
                <p class="mb-0 text-secondary" th:text="${produce.user_id}">
                  판매자
                </p>
                <p
                  class="font-weight-bold"
                  data-th-text="${#numbers.formatInteger(produce.price, 3, 'COMMA') + '원'}"
                >
                  상품가격
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- ===============레시피 검색결과================ -->
      <div th:if="${NoRcpList}">
        <h4>연관 레시피가 없습니다.</h4>
      </div>
      <div class="recipe-popular bg-white" th:if="${rcpList}">
        <div class="d-flex title">
          <p>총 <h5 class="rcpSize" th:text="${rcpListSize}"> 00 </h5>개의 맛있는 레시피가 있습니다</p>
          <!-- 스크랩 순으로 정렬된 레시피 페이지로 이동 -->
          <h6 class="ms-auto" th:if="${rcpListSize > 8}"><a th:href="@{|/moreRecipe?keyword=${keyword}|}">> 더보기</a></h6>
        </div>
        <div class="row">
          <div th:each="rcp : ${rcpList}" class="col-3">
            <a th:href="@{/recipe/view/{rcp_seq}(rcp_seq=${rcp.rcp_seq})}">
              <img
                th:if="${not #strings.isEmpty(rcp.filename)}"
                th:src="@{${rcp.filepath}+${rcp.filename}}"
                width="190px"
                height="150px"
                class="rounded float"
              />
              <img
                th:if="${#strings.isEmpty(rcp.filename)}"
                src="/media/images/rcp_mainimg.png"
                width="190px"
                height="150px"
                class="rounded float"
              />
              <p th:text="${rcp.rcp_name}" class="text-start fw-bold">
                레시피 제목
              </p>
            </a>
            <p class="d-flex justify-content-between">
              <span th:text="${rcp.user_id}" class="left">닉네임</span
              ><span th:text="'♥'+${rcp.scrap}" class="right mx-2"
                >스크랩수</span
              >
            </p>
            <p class="d-flex justify-content-between">
              <span th:text="${rcp.time}" class="left">시간</span><span th:text="${rcp.difficulty}">난이도 하</span
              ><span th:text="${rcp.amount}" class="right">3인분</span>
            </p>
          </div>
         
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </body>
</html>
