<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>seller</title>
</head>
<body>
<!--<div class="layout">-->
<!--    <form action="/seller/write" method="post" enctype="multipart/form-data">-->
<!--        <input name="user_id" type="text">-->
<!--        <input name="business_name" type="text">-->
<!--        <input name="registration_number" type="text">-->
<!--        <input name="seller_phone" type="text">-->
<!--        <input name="seller_address" type="text">-->
<!--        <input name="approval" type="text">-->

<!--        <button type="submit">작성</button>-->
<!--    </form>-->
<!--</div>-->
</body>
</html>