<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--    <th:block th:each="reviewDTO : ${list}">-->
<!--        <p class="mb-0 text-secondary" th:text="${reviewDTO.rating}">평가</p>-->
<!--        <p class="mb-0 text-secondary" th:text="${reviewDTO.content}">평가</p>-->
<!--        <p class="mb-0 text-secondary" th:text="${reviewDTO.created_date}">평가</p>-->
<!--    </th:block>-->

    <table>
        <thead>
            <tr>  <th>점수</th> <th>날짜</th> <th>내용</th>   </tr>
        </thead>
        <tbody>
            <tr th:each="reviewDTO : ${list}">
                <td th:text="${reviewDTO.rating}" />
                <td th:text="${reviewDTO.created_date}" />
                <td th:text="${reviewDTO.content}" />
            </tr>
        </tbody>
   </table>

</body>
</html>