<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        alert('결제 완료');
        chk.click();
      });
    </script>
</head>
<!--결제성공후 이 화면으로 넘어오면 자동으로 pay=1로 update된다.
kakaoPaySuccess-->
<body>
    <form method="post" th:action="@{/mypage/cart/update/{pay_num}(pay_num=${pay_num})}">
        <button id="chk">완료</button>
    </form>
</body>
</html>